<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>Model</label>
        <input name='model' placeholder="e.g. Honda"/>
        <br>
        <label>Daily fee (VND)</label>
        <input name='fee' placeholder="e.g. 100000"/>
        <br>
        <label>Image</label>
        <input name='image_url' placeholder="e.g. https://hondaxemay.com.vn"/>
        <br>
        <label>Year</label>
        <input name='year' placeholder="e.g. 2013"/>
        <br>
        <input type="submit" value="submit"/>
    </form>

    {% for v in data %}
        {{v.model}}<br/>
        {{v.fee}}<br/>
        <img height="100" width="100" src="{{v.image_url}}"><br/>
        {{v.year}}<br/>
    {%endfor%}
</body>
</html>